@use './variables' as v;
@use './mixins' as m;
@use './function' as f;

// ヘッダー
header {
  width: 100%;
  background-color: v.$white;
}

.header-area-fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: v.$pcHeaderHeight;
  background-color: v.$white;
  z-index: v.$zindexHeader;
  padding: 0 f.pixelToVwSize(40, v.$pcViewPort);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.29);

  @include m.mq {
    height: v.$spHeaderHeight;
    padding: 0 f.spMinRangeVwVwSize(30, v.$spViewPort, 40, v.$pcViewPort);
  }
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  .logo {
    a {
      display: block;
      height: 30px;

      @include m.mq {
        height: f.spMinRangeVwRemSize(25, v.$spViewPort, 30);
      }
    }

    img {
      height: 30px;

      @include m.mq {
        height: f.spMinRangeVwRemSize(25, v.$spViewPort, 30);
      }
    }
  }

  .header-inquiry-btn {
    margin: f.pixelToRemSize(17) 0;
    background-color: v.$subPrimaryColor2;
    border-radius: f.pixelToVwSize(63, v.$pcViewPort);

    &-area {
      padding: f.pixelToRemSize(16) f.pixelToRemSize(16) f.pixelToRemSize(16) f.pixelToRemSize(48);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .inquiry-btn {
      font-size: f.pixelToRemSize(v.$pixelSizeSm);
      line-height: v.$fontLineHeight28;
      font-weight: v.$fontWeightBold;
    }

    .fa-chevron-right::before {
      color: v.$textColor;
      padding-left: f.pixelToRemSize(22);
    }
  }

  .header-nav-btn {
    @include m.mq {
      width: f.spMinRangeVwRemSize(36, v.$spViewPort, 52);
      height: f.spMinRangeVwRemSize(36, v.$spViewPort, 52);
      background: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;

      .hamburger-menu,
      .hamburger-menu::before,
      .hamburger-menu::after {
        transition: .3s;
      }

      .hamburger-menu {
        display: block;
        width: f.spMinRangeVwRemSize(24, v.$spViewPort, 35);
        height: f.pixelToRemSize(3);
        background: v.$primaryColor;
        position: relative;
      }
    
      .hamburger-menu::before,
      .hamburger-menu::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: v.$primaryColor;
        left: 0;
      }
    
      .hamburger-menu::before {
        // 負の数の方が小さいので敢えてmaxを使用
        top: max(f.pixelToVwSize(-9, v.$spViewPort), f.pixelToRemSize(-13));
      }
    
      .hamburger-menu::after {
        top: f.spMinRangeVwRemSize(9, v.$spViewPort, 13);
      }

      // headerにjs-nav-sp-activeが追加されたとき
      header.js-nav-sp-active & .hamburger-menu {
        background: transparent;
      }

      header.js-nav-sp-active & .hamburger-menu::before
      , header.js-nav-sp-active & .hamburger-menu::after {
        top: 0;
        background: v.$primaryColor;
      }

      header.js-nav-sp-active & .hamburger-menu::before {
        transform: rotate(45deg);
      }

      header.js-nav-sp-active & .hamburger-menu::after {
        transform: rotate(-45deg);
      }
    }
  }
}

.nav-area {
  width: 100%;
  background-color: v.$white;
  position: absolute;
  bottom: 0;
  left: 0;

  @include m.mq {
    position: fixed;
    width: auto;
    height: calc(100% - v.$spHeaderHeight);
    top: v.$spHeaderHeight;
    right: 0;
    bottom: initial;
    left: initial;
    text-align: center;
    background-color: rgba(v.$white, 0.95); 
    transform: translateX(125%);
    transition: .3s ease;
    z-index: v.$zindexHeader;

    header.js-nav-sp-active & {
      transform: translateX(0);
    }
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(f.pixelToVwSize(24, v.$pcViewPort), 32);
    width: 100%;
    margin: f.pixelToRemSize(16) 0;

    @include m.mq {
      flex-direction: column;
      gap: f.spMinRangeVwRemSize(32, v.$spViewPort, 40);
      align-items: flex-start;
      margin: f.pixelToRemSize(40) f.spMinRangeVwRemSize(40, v.$spViewPort, 96) 0;
    }

    .nav-list-item {
      font-size: f.pixelToRemSize(v.$pixelSizeSm);
      line-height: v.$fontLineHeight28;
      font-weight: v.$fontWeightBold;

      @include m.mq {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeXs, v.$spViewPort, v.$pixelSizeSm);
        line-height: min(f.pixelToVwSize(20, v.$spViewPort), v.$fontLineHeight28);
      }

      &:not(:last-of-type) > a:hover {
        color: v.$primaryColor;
      }
    }

    .nav-inquiry-btn {
      padding: f.pixelToRemSize(8) f.pixelToRemSize(16);
      background-color: v.$subPrimaryColor2;
      border-radius: f.pixelToRemSize(28);
    }
  }
}

// メインビジュアル
.mv-contents {
  width: 100%;
  height: calc(100vh - v.$pcHeaderHeight - v.$pcNavHeight);
  background: v.$mvBgColor url(../img/mv-bg.png) center center/cover;

  @include m.mq {
    height: calc(100vh - v.$spHeaderHeight);
  }

  &-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: f.pixelToVwSize(48, v.$pcViewPort);
    height: 100%;

    @include m.mq {
      width: 100%;
      flex-direction: column;
      padding-left: f.spMinRangeVwRemSize(20, v.$spViewPort, 30);
      padding-top: f.spMinRangeVwRemSize(24, v.$spViewPort, 40);
      gap: f.spMinRangeVwRemSize(24, v.$spViewPort, 40);
    }

    &.mv-contents-area-scale {
      @include m.mq {
        scale: 0.85;
      }
    }
  }

  .txt-area {
    .catchcopy-main {
      font-size: f.pixelToRemSize(v.$pixelSizeXl);
      line-height: v.$fontLineHeight58;
      font-weight: v.$fontWeightBold;
      letter-spacing: v.$fontCharacterSpacing4-8;

      @include m.mq {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeLg, v.$spViewPort, v.$pixelSizeXl);
        line-height: min(f.pixelToVwSize(35, v.$spViewPort), v.$fontLineHeight58);
        letter-spacing: min(f.pixelToVwSize(3.6, v.$spViewPort), v.$fontCharacterSpacing4-8);
      }
    }

    .catchcopy-main-font {
      font-size: f.pixelToRemSize(v.$pixelSizeCathCopy);
      line-height: v.$fontLineHeight58;
      font-weight: v.$fontWeightBold;
      letter-spacing: v.$fontCharacterSpacing4;

      @include m.mq {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeMd, v.$spViewPort, v.$pixelSizeCathCopy);
        line-height: min(f.pixelToVwSize(35, v.$spViewPort), v.$fontLineHeight58);
        letter-spacing: min(f.pixelToVwSize(3.6, v.$spViewPort), v.$fontCharacterSpacing4);
      }
    }

    .catchcopy-subtitle {
      font-size: f.pixelToRemSize(v.$pixelSizeMd);
      line-height: v.$fontLineHeight35;
      font-weight: v.$fontWeightBold;
      margin-top: f.pixelToRemSize(8);

      @include m.mq {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeSm, v.$spViewPort, v.$pixelSizeMd);
        line-height: min(f.pixelToVwSize(35, v.$spViewPort), v.$fontLineHeight28);
      }
    }

    .catchcopy-job-name {
      font-size: f.pixelToRemSize(v.$pixelSizeXs);
      line-height: v.$fontLineHeight20;
      font-weight: v.$fontWeightBold;
      margin: f.pixelToRemSize(24) 0;

      @include m.mq {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeXxs, v.$spViewPort, v.$pixelSizeXs);
        line-height: min(f.pixelToVwSize(17, v.$spViewPort), v.$fontLineHeight20);
        margin: f.spMinRangeVwRemSize(16, v.$spViewPort, 24) 0;
      }
    }

    .catchcopy-points-list {
      display: flex;
      gap: f.pixelToRemSize(24);

      .catchcopy-points-item {
        width: 95px;
        height: 95px;
        border-radius: 50%;
        background: v.$subPrimaryColor;
        font-size: f.pixelToRemSize(v.$pixelSizeSm);
        line-height: v.$fontLineHeight28;
        font-weight: v.$fontWeightBold;
        position: relative;

        @include m.mq {
          width: f.spMinRangeVwRemSize(70, v.$spViewPort, 95);
          height: f.spMinRangeVwRemSize(70, v.$spViewPort, 95);
          font-size: f.spMinRangeVwRemSize(v.$pixelSizeXxs, v.$spViewPort, v.$pixelSizeXs);
          line-height: min(f.pixelToVwSize(17, v.$spViewPort), v.$fontLineHeight20);
        }

        span {
          position: absolute;
          left: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width :95px;
          text-align:center;
          color: v.$white;

          @include m.mq {
            width: f.spMinRangeVwRemSize(70, v.$spViewPort, 95);
          }
        }
      }
    }
  }

  .mv-img-area {
    width: min(f.pixelToVwSize(600, v.$pcViewPort), 750px);
    height: min(f.pixelToVwSize(400, v.$pcViewPort), 500px);

    @include m.mq {
      width: min(f.pixelToVwSize(355, v.$spViewPort), 600px);
      height: min(f.pixelToVwSize(237, v.$spViewPort), 400px);
    }

    .mv-img {
      width: 100%;
      height: 100%;
      border-radius: f.pixelToRemSize(60);
    }
  }
}

// インタープランについて
section.about-contents {
  padding-top: calc(v.$pcNavHeight + v.$pcSectionPaddingHeight);
  background: linear-gradient(rgba(v.$white, 0.4), rgba(v.$white, 0.4)), url(../img/bg_paper.png) center center/cover;

  @include m.mq {
    padding-top: v.$spSectionPaddingHeight;
  }

  .about-contents-area {
    max-width: 990px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: f.pixelToRemSize(60);

    @include m.mq {
      flex-direction: column;
      gap: f.pixelToRemSize(24);
      width: 78%;
    }

    .about-txt-area {
      max-width: 570px;
      width: 100%;
    }

    .section-title {
      margin-bottom: f.pixelToRemSize(32);
      text-align: left;

      @include m.mq {
        text-align: center; 
        margin-bottom: 16px;
        order: 1;
      }
    }

    .about-txt {
      width: 100%;

      @include m.mq {
        order: 3;
      }
    }
  
    .about-img-area {
      width: 100%;
      max-width: 360px;
      height: 300px;
      position: relative;

      @include m.mq {
        width: f.spMinRangeVwRemSize(194, v.$spViewPort, 360);
        height: f.spMinRangeVwRemSize(162, v.$spViewPort, 300);
        margin-bottom: f.spMinRangeVwRemSize(24, v.$spViewPort, 32);
        order: 2;
      }

      .about-bg-box {
        position: absolute;
        width: 95%;
        height: 95%;
        background: v.$primaryColor;
        top: 5.5%;
        left: 5%;
      }

      .about-img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 95%;
        height: 94.5%;
      }
    }
  }
}

// おすすめの方
.recommend-contents {
  background: v.$white;

  .recommend-contents-area {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    .recommend-title {
      &::after {
        content: '';
        background-image: url(../img/svg/good.svg);
        display: inline-block;
        width: f.pixelToRemSize(40);
        height: f.pixelToRemSize(40);
        background-size: contain;
        vertical-align: sub;
        margin-left: 16px;

        @include m.mq {
          width: f.spMinRangeVwRemSize(v.$pixelSizeLg, v.$spViewPort, 40);
          height: f.spMinRangeVwRemSize(v.$pixelSizeLg, v.$spViewPort, 40);
        }
      }
    }

    .recommend-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: f.pixelToRemSize(24) f.pixelToRemSize(48);

      &-item {
        display: flex;
        max-width: f.pixelToRemSize(420);
        width: 100%;
        max-height: f.pixelToRemSize(56);
        height: 100%;
      }

      @include m.mq {
        display: flex;
        width: 78%;
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: f.pixelToRemSize(24);
        margin: 0 auto;
        grid-template-columns: none;

        &-item {
          max-width: none;
          max-height: none;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .fa-circle-check::before {
    color: v.$subPrimaryColor;
    margin-right: f.pixelToRemSize(v.$pixelSizeSm);
    font-size: f.pixelToRemSize(v.$pixelSizeMd);
    line-height: v.$fontLineHeight28;
    vertical-align: middle;

    @include m.mq {
      font-size: f.spMinRangeVwRemSize(v.$pixelSizeSm, v.$spViewPort, v.$pixelSizeMd);
      margin-right: f.spMinRangeVwRemSize(v.$pixelSizeSm, v.$spViewPort, v.$pixelSizeSm);
    }
  }
}

// 卒業生インタビュー
.interview-contents {
  background: linear-gradient(rgba(v.$white, 0.4), rgba(v.$white, 0.4)), url(../img/bg_paper.png) center center/cover;

  .interview-contents-area {
    margin: 0 auto;
    max-width: f.pixelToRemSize(720);
    width: 100%;

    .interview-txt {
      text-align: center;
      margin: f.pixelToRemSize(32) auto;
    }

    .interview-movie {
      width: 100%;
      aspect-ratio: 16 / 9;

      iframe {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;

        @include m.mq {
          width: min(86.6666%, 720px);
          height: min(86.6666%, 405px);
        }
      }
    }
  }
}

// 見学会予約・問い合わせ
.inquiry-contents {
  width: 100%;
  background: linear-gradient(rgba(v.$inquiryBgColor, .88), rgba(v.$inquiryBgColor, .88)), url(../img/inquiry-bg.jpeg) center center/cover no-repeat;

  &-area {
    .inquiry-contents-point-in-questions {
      width: 643px;
      position: relative;
      background-color: v.$white;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: f.pixelToRemSize(24);
      margin: 0 auto f.pixelToRemSize(56);
      padding: f.pixelToRemSize(32);

      @include m.mq {
        width: min(73.333%, 490px);
        flex-direction: column;
        gap: f.spMinRangeVwRemSize(16, v.$spViewPort, 24);
        padding: f.spMinRangeVwRemSize(24, v.$spViewPort, 32);

      }

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: f.pixelToRemSize(-50);
        border: f.pixelToRemSize(50) solid transparent;
        border-top: 24px solid v.$white;
      }
    }
  }

  .point-in-questions-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .point-in-questions-list-item {
    margin-bottom: f.pixelToRemSize(16);

    &:last-child {
      margin-bottom: 0;
    }

    & > p {
      position: relative;
      font-size: f.pixelToRemSize(v.$pixelSizeXs);
      line-height: v.$fontLineHeight20;
      padding-left: f.pixelToRemSize(v.$pixelSizeXs);

      @include m.mq {
        padding-left: f.spMinRangeVwRemSize(v.$pixelSizeXxs, v.$spViewPort, v.$pixelSizeXs);
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeXxs, v.$spViewPort, v.$pixelSizeXs);
        white-space: wrap;
      }

      &::before {
        content: '・';
        display: inline-block;
        width: f.pixelToRemSize(v.$pixelSizeXs);
        height: f.pixelToRemSize(v.$pixelSizeXs);
        vertical-align: middle;
        position: absolute;
        left: 0;

        @include m.mq {
          width: f.spMinRangeVwRemSize(v.$pixelSizeXxs, v.$spViewPort, v.$pixelSizeXs);
          height: f.spMinRangeVwRemSize(v.$pixelSizeXxs, v.$spViewPort, v.$pixelSizeXs);
        }
      }
    }
  }

  .troubled-person-img-area {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    overflow: hidden;

    @include m.mq {
      width: f.spMinRangeVwRemSize(100, v.$spViewPort, 124);
      height: f.spMinRangeVwRemSize(100, v.$spViewPort, 124);
    }

    img {
      object-fit: fill;
      width: 100%;
      scale: 1.4;
    }
  }

  .inquiry-txt-area {
    text-align: center;
    font-size: f.pixelToRemSize(v.$pixelSizeMd);
    line-height: v.$fontLineHeight35;
    margin-bottom: f.pixelToRemSize(32);

    @include m.mq {
      font-size: f.spMinRangeVwRemSize(v.$pixelSizeXs, v.$spViewPort, v.$pixelSizeMd);
      line-height: f.spMinRangeVwRemSize(20, v.$spViewPort, 35);
    }

    &::after {
      content: '';
      background-image: url(../img/svg/lightBulb.svg);
      display: inline-block;
      width: f.pixelToRemSize(29);
      height: f.pixelToRemSize(36);
      background-size: contain;
      vertical-align: middle;
      transform: matrix(2, 0.84, -0.84, 2, 0, 0);

      @include m.mq {
        width: f.spMinRangeVwRemSize(18, v.$spViewPort, 29);
        height: f.spMinRangeVwRemSize(22.5, v.$spViewPort, 36);
      }  
    }
  }

  .inquiry-btn-common {
    margin: f.pixelToRemSize(17) auto;
    background-color: v.$subPrimaryColor2;
    border-radius: f.pixelToVwSize(63, v.$pcViewPort);
    box-shadow: 0px 7px 12px #00000029;
    max-width: 750px;
    width: 100%;

    @include m.mq {
      width: min(78.666%, 550px);
      border-radius: f.pixelToVwSize(126, v.$spViewPort);
    }

    .inquiry-btn-area {
      padding: f.pixelToRemSize(32) f.pixelToRemSize(47) f.pixelToRemSize(32) f.pixelToRemSize(150);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @include m.mq {
        padding: f.spMinRangeVwRemSize(16, v.$spViewPort, 32) f.spMinRangeVwRemSize(32, v.$spViewPort, 47) f.spMinRangeVwRemSize(16, v.$spViewPort, 32) ;
        text-align: center;
      }
    }

    .inquiry-btn {
      font-size: f.pixelToRemSize(v.$pixelSizeMd);
      line-height: v.$fontLineHeight35;
      font-weight: v.$fontWeightBold;

      @include m.mq {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeSm, v.$spViewPort, v.$pixelSizeMd);
        line-height: f.spMinRangeVwRemSize(28, v.$spViewPort, 35);
      }
    }

    .fa-chevron-right::before {
      color: v.$textColor;
      padding-left: f.pixelToRemSize(89);
      font-size: f.pixelToRemSize(v.$pixelSizeMd);

      @include m.mq {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeSm, v.$spViewPort, v.$pixelSizeMd);
        padding-left:0;
        position: absolute;
        right: f.spMinRangeVwRemSize(32, v.$spViewPort, 48);
        bottom: f.spMinRangeVwRemSize(32, v.$spViewPort, 50);
      }
    }
  }
}

// おすすめ理由
.reason-contents {
  .reason-title-decoration {
    font-size: f.pixelToRemSize(v.$pixelSizeXl);
    line-height: v.$fontLineHeight52;
    color: v.$subPrimaryColor;

    @include m.mq {
      font-size: f.spMinRangeVwRemSize(v.$pixelSizeLg, v.$spViewPort, v.$pixelSizeXl);
      line-height: f.spMinRangeVwRemSize(45, v.$spViewPort, 52);
    }
  }

  .reason-contents-item {
    max-width: 990px;
    margin: f.pixelToRemSize(48) auto;
    width: 90%;
    background: v.$white;
    box-shadow: 0px 3px 5px #00000029;
    padding: f.pixelToRemSize(40) f.pixelToRemSize(32);
    gap: f.pixelToRemSize(32);
    display: flex;
    justify-content: center;
    align-items: center;

    @include m.mq {
      flex-direction: column;
      padding: f.spMinRangeVwRemSize(24, v.$spViewPort, 32) f.spMinRangeVwRemSize(24, v.$spViewPort, 32) f.spMinRangeVwRemSize(32, v.$spViewPort, 40);
      width: 82.933%;
      margin: f.spMinRangeVwRemSize(40, v.$spViewPort, 48) auto;
      gap: f.spMinRangeVwRemSize(24, v.$spViewPort, 32);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      @include m.mq {
        flex-direction: column;
      }
    }

    .reason-contents-item-title {
      border-bottom: solid v.$subPrimaryColor 1px;
      border-image: linear-gradient(to right, v.$subPrimaryColor 0%, v.$subPrimaryColor2 100%);
      border-image-slice: 1;
      padding-bottom: f.pixelToRemSize(8);
      font-size: f.pixelToRemSize(v.$pixelSizeMd);
      line-height: v.$fontLineHeight35;
      margin-bottom: f.pixelToRemSize(24);

      @include m.mq {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeSm, v.$spViewPort, v.$pixelSizeMd);
        line-height: f.spMinRangeVwRemSize(28, v.$spViewPort, 35);
        padding-bottom: f.spMinRangeVwRemSize(4, v.$spViewPort, 8);
        margin-bottom: 0;
        width: 100%;
        order: 1;
      }
  
      .reason-title-number {
        font-size: f.pixelToRemSize(v.$pixelSizeXl);
        line-height: v.$fontLineHeight52;
        color: v.$subPrimaryColor;
        padding-right: f.pixelToRemSize(24);
        vertical-align: sub;

        @include m.mq {
          font-size: f.spMinRangeVwRemSize(v.$pixelSizeLg, v.$spViewPort, v.$pixelSizeXl);
          padding-right: f.spMinRangeVwRemSize(16, v.$spViewPort, 24);
        }
      }
    }

    .reason-contents-item-txt {
      @include m.mq {
        order: 3;
      }
    }
  
    .reason-contents-item-img-area {
      width: 100%;
      max-width: 328px;
      height: 251px;

      @include m.mq {
        order: 2;
        max-width: none;
        width: f.spMinRangeVwRemSize(262, v.$spViewPort, 328);
        height: f.spMinRangeVwRemSize(193, v.$spViewPort, 251);
      }
  
      img {
        min-width: 328px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        @include m.mq {
          min-width: inherit;
        }
      }
    }
  }
}

// コース紹介
.course-contents {
  .course-contents-txt {
    margin: f.pixelToRemSize(40) auto;
    display: flex;
    justify-content: center;

    @include m.mq {
      width: 80%;
    }
  }

  .course-contents-item {
    margin: f.pixelToRemSize(85) auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: f.pixelToRemSize(85) f.pixelToVwSize(109, v.$pcViewPort);
    width: 90%;
  }

  .course-contents-item-list {
    width: 436px;
    height: 801px;
    background: v.$white;
    border-radius: f.pixelToRemSize(30);
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
    margin-left: f.pixelToRemSize(32);

    @include m.mq {
      width: min(98%, 500px);
      height: auto;
      margin-left: f.spMinRangeVwRemSize(16, v.$spViewPort, 32);
      padding: 0 0 f.pixelToRemSize(24) 0;
    }
  }

  .open-month {
    display: block;
    width: 90px;
    height: 90px;
    background: v.$subPrimaryColor;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    left: -32px;

    @include m.mq {
      width: f.spMinRangeVwRemSize(98, v.$spViewPort, 178);
      height: f.spMinRangeVwRemSize(40, v.$spViewPort, 60);
      border-radius: f.spMinRangeVwRemSize(16, v.$spViewPort, 24);
      top: max(f.pixelToVwSize(-20, v.$spViewPort), -30px);
      left: max(f.pixelToVwSize(-16, v.$spViewPort), -32px);
    }

    .open-month-txt {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 58%;
      transform: translateY(-50%);
      text-align: center;
      color: v.$white;
      font-size: f.pixelToRemSize(v.$pixelSizeMd);
      line-height: v.$fontLineHeight35;
      font-weight: v.$fontWeightBold;
      width: 90px;
      height: 90px;

      @include m.mq {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeSm, v.$spViewPort, v.$pixelSizeMd);
        line-height: f.spMinRangeVwRemSize(28, v.$spViewPort, 35);
        width: 100%;
        height: auto;
        padding: f.pixelToVwSize(8, v.$spViewPort) f.pixelToVwSize(16, v.$spViewPort);
      }
    }
  }

  .course-title {
    display: block;
    position: relative;
    min-height: 121px;
    background: v.$primaryColor;
    margin: f.pixelToRemSize(56) f.pixelToRemSize(32) 0 f.pixelToRemSize(-32);
    width: 100%;

    @include m.mq {
      height: f.spMinRangeVwRemSize(87, v.$spViewPort, 90);
      margin: f.spMinRangeVwRemSize(32, v.$spViewPort, 56) f.spMinRangeVwRemSize(16, v.$spViewPort, 32) 0 max(f.pixelToVwSize(-16, v.$spViewPort), -32px);
    }

    &::before {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      border: none;
      border-bottom: solid 32px transparent;
      border-right: solid 32px v.$courseDecorationColor;

      @include m.mq {
        border-bottom: solid f.spMinRangeVwRemSize(16, v.$spViewPort, 32) transparent;
        border-right: solid f.spMinRangeVwRemSize(16, v.$spViewPort, 32) v.$courseDecorationColor;
      }
    }

    &::after {
      position: absolute;
      content: '';
      z-index: v.$zindexCourseDecoration;
      top: 0;
      right: 0;
      width: 0px;
      height: 0px;
      border-width: 60px 32px 60px 0;
      border-color: transparent v.$white transparent transparent;
      border-style: solid;

      @include m.mq {
        border-width: 60px f.spMinRangeVwRemSize(24, v.$spViewPort, 32) 60px 0;
      }
    }

    .course-title-txt {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: f.pixelToRemSize(v.$pixelSizeMd);
      line-height: v.$fontLineHeight35;
      font-weight: v.$fontWeightBold;
      color: v.$white;
      padding: 0 f.pixelToRemSize(56) 0 f.pixelToRemSize(40);

      @include m.mq {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeSm, v.$spViewPort, v.$pixelSizeMd);
        line-height: f.spMinRangeVwRemSize(28, v.$spViewPort, 35);
      }
    }
  }

  .course-discription {
    @include m.mq {
      padding-bottom: f.pixelToRemSize(32);
    }
  }

  .course-discription-title {
    font-weight: v.$fontWeightBold;
  }

  .course-discription-goal-title-frame {
    width: 356px;
    min-height: 268px;
    border: 1px solid v.$primaryColor;
    border-radius: f.pixelToRemSize(24);
    margin: f.pixelToRemSize(32) f.pixelToRemSize(40) 0;

    @include m.mq {
      width: auto;
      margin: f.spMinRangeVwRemSize(32, v.$spViewPort, 40) f.spMinRangeVwRemSize(24, v.$spViewPort, 35) 0 f.spMinRangeVwRemSize(24, v.$spViewPort, 35);
      min-height: unset;
    }
  }

  .course-discription-goal-title {
    display: inline-flex;
    align-items: center;
    position: relative;
    top: -14px;
    left: 0px;
    margin: 0 f.pixelToRemSize(8);
    padding: 0 f.pixelToRemSize(8);
    background: #fff;
    vertical-align: top;
  }

  .course-discription-goal-txt {
    padding: 0 f.pixelToRemSize(24);

    @include m.mq {
      width: auto;
      padding: 0 f.spMinRangeVwRemSize(16, v.$spViewPort, 24) f.pixelToRemSize(24);
    }
  }

  .course-discription-period-title, .course-discription-orientation-title {
    margin: f.pixelToRemSize(24) 0 0 f.pixelToRemSize(56);

    @include m.mq {
      white-space: nowrap;
      margin: f.spMinRangeVwRemSize(24, v.$spViewPort, 35) f.spMinRangeVwRemSize(24, v.$spViewPort, 35) 0 f.spMinRangeVwRemSize(40, v.$spViewPort, 56);
    }
  }

  .course-discription-period {
    display: flex;
    align-items: center;

    @include m.mq {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .course-discription-period-txt {
    margin: f.pixelToRemSize(24) 0 0 f.pixelToRemSize(16);
    
    @include m.mq {
      white-space: nowrap;
      margin: f.pixelToRemSize(8) 0 0 f.spMinRangeVwRemSize(40, v.$spViewPort, 56);
      text-align: left;
    }
  }

  .course-discription-orientation-title {
    margin-bottom: f.pixelToRemSize(16);
  }

  .orientation-date-list {
    .orientation-date-area {
      display: flex;
      align-items: center;
      margin-left: f.pixelToRemSize(56);
      margin-bottom: f.pixelToRemSize(8);

      @include m.mq {
        margin-left: f.spMinRangeVwRemSize(40, v.$spViewPort, 56);
        margin-bottom: f.spMinRangeVwRemSize(8, v.$spViewPort, 16);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .orientation-date-title {
      font-weight: v.$fontWeightBold;
      color: v.$white;
      background: v.$subPrimaryColor;
      padding: f.pixelToRemSize(4) f.pixelToRemSize(8);
      display: inline-block;
    }

    .orientation-date-txt {
      margin-left: f.pixelToRemSize(16);
    }
  }
}

// 卒業生の作品
.production-contents {
  background-color: v.$white;

  .production-item {
    width: 100%;
    height: 200px;

    .slick-list, .slick-track {
      height: 200px !important; // htmlでcssが設定されているので強制的に上書き
    }

    .production-item-list.slick-slide {
      width: 300px !important; // htmlでcssが設定されているので強制的に上書き
      margin: 0 f.pixelToRemSize(16);

      @include m.mq {
        width: f.spMinRangeVwRemSize(300, v.$spViewPort, 300) !important;
      }
    }

    picture {
      display: block;
      width: 300px;
      height: 200px;
      margin: 0;
      padding: 0;

      @include m.mq {
        width: f.spMinRangeVwRemSize(300, v.$spViewPort, 300) !important;
        height: f.spMinRangeVwRemSize(200, v.$spViewPort, 200) !important;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// 卒業生の声
.voice-contents {
  .slick-track {
    @include m.mq {
      display: flex;
    }
  } 

  .voice-item-list {
    max-width: clamp(690px, f.pixelToVwSize(690, v.$pcViewPort), 800px);
    width: 100%;
    margin: f.pixelToRemSize(48) auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 5px #00000029;
    background-color: v.$white;
    padding: f.pixelToRemSize(32) f.pixelToRemSize(40);
    gap: f.pixelToRemSize(40);

    @include m.mq {
      width: f.spMinRangeVwRemSize(293, v.$spViewPort, 500) !important;
      height: auto;
      flex-direction: column;
      justify-content: space-between;
      gap: f.pixelToRemSize(24);
      margin: 0 0.4% f.pixelToRemSize(24) 0;
      flex-shrink: 0;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      @include m.mq {
        flex-direction: column;
      }
    }
  }

  @include m.mq {
    .slick-prev {
      left: f.pixelToRemSize(24);
      z-index: v.$zindexSpSlickArrowBtn;
    }

    .slick-next {
      right: f.pixelToRemSize(24);
    }

    .slick-prev:before,
    .slick-next:before
    {
      color: v.$textColor;
      font-size: f.pixelToRemSize(v.$pixelSizeMd);
      background: v.$white;
      border-radius: 50%;
    }
  }

  .voice-item-face-name-area {
    width: 100px;
    height: 140px;

    .voice-item-face-area {
      max-width: 100px;
      width: f.pixelToVwSize(100, v.$spViewPort);
      max-height: 100px;
      height: f.pixelToVwSize(100, v.$spViewPort);
      border-radius: 50%;
      margin: 0 auto;
      overflow: hidden;

      .voice-item-face {
        width: 100%;
        scale: 1.7;
        object-fit: fill;
        object-position: 50% f.pixelToRemSize(5);
      }

      .voice-item-face-woman2 {
        scale: 2.4;
        object-position: 50% f.pixelToRemSize(10);
      }
    }

    .voice-item-name {
      margin-top: f.pixelToRemSize(16);
      font-weight: v.$fontWeightBold;
      font-size: f.pixelToRemSize(v.$pixelSizeSm);
      line-height: v.$fontLineHeight28;
      text-align: center;

      @include m.mq {
        font-size:f.spMinRangeVwRemSize(v.$pixelSizeXs, v.$spViewPort, v.$pixelSizeSm);
        line-height: f.spMinRangeVwRemSize(20, v.$spViewPort, 28);
      }
    }

    .sex-txt {
      font-size: f.pixelToRemSize(v.$pixelSizeXs);
      line-height: v.$fontLineHeight28;

      @include m.mq {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeXxs, v.$spViewPort, v.$pixelSizeXs);
        line-height: f.spMinRangeVwRemSize(20, v.$spViewPort, 28);
      }
    }
  }
}

// FAQ
.faq-contents {
  .faq-contents-area {
    .faq-list {
      width: min(f.pixelToVwSize(900, v.$pcViewPort), 1000px);
      margin: 0 auto;

      @include m.mq {
        width: f.spMinRangeVwRemSize(293, v.$spViewPort, 1000);
        line-height: f.spMinRangeVwRemSize(28, v.$spViewPort, 35);
      }
    }
  }

  .faq-category-area {
    .faq-category-title {
      font-size: f.pixelToRemSize(v.$pixelSizeMd);
      font-weight: v.$fontWeightBold;
      line-height: v.$fontLineHeight35;
      margin-top: f.pixelToRemSize(40);
      margin-bottom: f.pixelToRemSize(8);

      @include m.mq {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeSm, v.$spViewPort, v.$pixelSizeMd);
        line-height: f.spMinRangeVwRemSize(28, v.$spViewPort, 35);
      }

      &::before {
        content: '';
        display: inline-block;
        background: v.$textColor;
        height: calc(tan(60deg) * 27.7px * 1 / 2);
        width: 16px;
        clip-path: polygon(0 0, 100% 50%, 0 100%);
        margin-right: f.pixelToRemSize(16);

        @include m.mq {
          height: calc(tan(60deg) * f.spMinRangeVwRemSize(14, v.$spViewPort, 27.7) * 1 / 2);
          width: f.spMinRangeVwRemSize(8, v.$spViewPort, 16);
          margin-right: f.spMinRangeVwRemSize(8, v.$spViewPort, 16);
        }
      }
    }

    .faq-toggle-area {
      margin-left: f.pixelToRemSize(32);
      border-bottom: dotted 2px v.$faqBorderBottomColor;

      @include m.mq {
        margin-left: f.spMinRangeVwRemSize(16, v.$spViewPort, 32);
      }
    }

    .faq-question {
      padding: f.pixelToRemSize(24) f.pixelToRemSize(25) f.pixelToRemSize(24) f.pixelToRemSize(40);
      position: relative;
      font-size: f.pixelToRemSize(v.$pixelSizeSm);
      font-weight: v.$fontWeightBold;
      line-height: v.$fontLineHeight28;

      @include m.mq {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeXs, v.$spViewPort, v.$pixelSizeSm);
        line-height: f.spMinRangeVwRemSize(20, v.$spViewPort, 28);
      }

      // 開閉ボタン
      &::before, &::after {
        content: '';
        display: block;
        width: 25px;
        height: 3px;
        background-color: v.$primaryColor;
        position: absolute;
        right: 0;
        top: f.pixelToRemSize(38);
        transition: transform 0.4s;

        @include m.mq {
          width: f.spMinRangeVwRemSize(16, v.$spViewPort, 25);
        }
      }

      &::after {
        transform: rotate(90deg);
      }

      p {
        padding-right: f.pixelToRemSize(16);
      }
    }

    .faq-answer {
      display: none;
      margin-bottom: f.pixelToRemSize(24);
      padding: 0 f.pixelToRemSize(25) f.pixelToRemSize(24) f.pixelToRemSize(40);
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        padding-right: f.pixelToRemSize(16);
      }
    }

    // 「Q」と「A]
    .faq-question > p::before, .faq-answer > p::before {
      position: absolute;
      left: 0;
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      color: v.$white;
      line-height: v.$fontLineHeight20;
      text-align: center;

      @include m.mq {
        width: f.spMinRangeVwRemSize(20, v.$spViewPort, 24);
        height: f.spMinRangeVwRemSize(20, v.$spViewPort, 24);
        line-height: f.spMinRangeVwRemSize(18, v.$spViewPort, 20);
      }
    }

    .faq-question > p::before {
      content: 'Q';
      background-color: v.$primaryColor;
      top: f.pixelToRemSize(28);
    }

    .faq-answer > p::before  {
      content: 'A';
      background-color: v.$subPrimaryColor;
      font-weight: v.$fontWeightBold;
      top: f.pixelToRemSize(4);
    }
  }

  // Answerが表示された場合
  .faq-toggle-area.js-faq-open {
    .faq-question::after {
      transform: rotate(0deg);
    }
  }
}

// アクセス
.access-contents {
  background-color: v.$white;

  .access-contents-area {
    .access-contents-discription {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: f.pixelToVwSize(100, v.$pcViewPort);

      @include m.mq {
        flex-direction: column;
        width: 78.6%;
        align-items: center;
        margin: 0 auto;
        gap: f.pixelToVwSize(32, v.$spViewPort);
      }
    }
  }

  .access-contents-googlemap {
    width: 395px;
    aspect-ratio: 16 / 9;

    @include m.mq {
      width: 100%;
    }

    iframe {
      display: block;
      width: 100%;
      margin: 0 auto;

      @include m.mq {
        width: min(100%, 720px);
        height: min(100%, 405px);
      }
    }
  }

  .access-contents-txt dl {
    dt {
      font-size: f.pixelToRemSize(v.$pixelSizeMd);
      line-height: v.$fontLineHeight35;
      font-weight: v.$fontWeightBold;
      margin-bottom: f.pixelToRemSize(12);
      margin-top: f.pixelToRemSize(24);

      @include m.mq {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeSm, v.$spViewPort, v.$pixelSizeMd);
        line-height: f.spMinRangeVwRemSize(28, v.$spViewPort, 35);
      }

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .access-station {
      font-size: f.pixelToRemSize(v.$pixelSizeSm);
      line-height: v.$fontLineHeight28;

      @include m.mq {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeXs, v.$spViewPort, v.$pixelSizeSm);
        line-height: f.spMinRangeVwRemSize(20, v.$spViewPort, 28);
      }
    }

    .access-route {
      margin-bottom: f.pixelToRemSize(12);
    }

    .access-tel-reception-time {
      // 電話マークの分だけ余白を開ける
      margin-left: f.pixelToRemSize(28);

      @include m.mq {
        margin-left: f.spMinRangeVwRemSize(22, v.$spViewPort, 28);
      }
    }
  }

  .fa-phone::before, .fa-envelope {
    font-size: f.pixelToRemSize(20);
    margin-right: f.pixelToRemSize(8);

    @include m.mq {
      font-size: f.spMinRangeVwRemSize(v.$pixelSizeXs, v.$spViewPort, 20);
    }
  }
}

// footer
footer {
  background-color: v.$primaryColor;
  padding: f.pixelToRemSize(24) 0;

  @include m.mq {
    padding-bottom: f.pixelToRemSize(96); 
  }

  .footer-nav-list {
    display: flex;
    justify-content: center;
    gap: 0 f.pixelToRemSize(72);
    margin-bottom: f.pixelToRemSize(16);

    @include m.mq {
      flex-direction: column;
      align-items: center;
      gap: f.pixelToRemSize(8) 0;
    }


    .footer-nav-list-item a {
      font-size: f.pixelToRemSize(v.$pixelSizeXs);
      line-height: v.$fontLineHeight20;
      color: v.$white;

      @include m.mq {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeXxs, v.$spViewPort, v.$pixelSizeXs);
        line-height: f.spMinRangeVwRemSize(17, v.$spViewPort, 20);
      }
    }
  }

  .footer-copyright {
    text-align: center;
    font-size: f.pixelToRemSize(v.$pixelSizeXs);
    line-height: v.$fontLineHeight20;

    @include m.mq {
      font-size: f.spMinRangeVwRemSize(v.$pixelSizeXxs, v.$spViewPort, v.$pixelSizeXs);
      line-height: f.spMinRangeVwRemSize(17, v.$spViewPort, 20);
    }

    small {
      color: v.$white;
    }
  }
}

// トップに戻る
.return-to-top-btn-area {
  opacity: 0;
  visibility: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: v.$primaryColor;
  position: fixed;
  bottom: f.pixelToRemSize(30);
  right: f.pixelToRemSize(40);
  z-index: v.$zindexSpBottomBtn;

  @include m.mq {
    min-width: 35px;
    width: f.spMinRangeVwRemSize(40, v.$spViewPort, 50);
    min-height: 35px;
    height: f.spMinRangeVwRemSize(40, v.$spViewPort, 50);
    bottom: 96px;
    right: f.spMinRangeVwRemSize(16, v.$spViewPort, 24);
  }

  a {
    display: block;
    width: 50px;
    height: 50px;

    @include m.mq {
      width: clamp(35px, f.pixelToVwSize(40, v.$spViewPort), 50px);
      height: clamp(35px, f.pixelToVwSize(40, v.$spViewPort), 50px);
    }

    .fa-chevron-right{
      width: 100%;
      height: 100%;
      transform: rotate(-90deg);
      position: relative;

      &::before {
        position: absolute;
        font-size: f.pixelToRemSize(v.$pixelSizeMd);
        line-height: 50px;
        color: v.$white;
        left: 50%;
        transform: translateX(-50%);

        @include m.mq {
          font-size: f.spMinRangeVwRemSize(v.$pixelSizeSm, v.$spViewPort, v.$pixelSizeMd);
          line-height: clamp(35px, f.pixelToVwSize(40, v.$spViewPort), 50px);
        }
      }
    }
  }

  &.return-to-top-btn-active {
    opacity: 1;
    visibility: visible;
  }
}

// SP用固定ボタン
.bottom-inquiry-btn-fixed {
  @include m.mq {
    position: fixed;
    width: 100%;
    background: transparent;
    bottom: 0;
    z-index: v.$zindexSpBottomBtn;
  }

  .bottom-inquiry-btn {
    @include m.mq {
      position: absolute;
      bottom: 24px;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      background-color: v.$subPrimaryColor2;
      border-radius: f.pixelToVwSize(126, v.$spViewPort);
      box-shadow: 0px 3px 5px #00000065;
  
      &-area {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: f.pixelToRemSize(16) f.pixelToRemSize(24);
      }
  
      .inquiry-btn {
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeXs, v.$spViewPort, v.$pixelSizeSm);
        line-height: f.spMinRangeVwRemSize(20, v.$spViewPort, 28);
        font-weight: v.$fontWeightBold;
        width: 100%;
        white-space: nowrap;
      }
  
      .fa-chevron-right::before {
        color: v.$textColor;
        padding-left: f.pixelToVwSize(8, v.$spViewPort);
        font-size: f.spMinRangeVwRemSize(v.$pixelSizeXs, v.$spViewPort, v.$pixelSizeSm);
      }
    }
  }
}






